.wether-bg{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 50vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading{
  font-weight: 700;
  color:azure;
}

.temp{
  font-size: 55px;
  font-weight: 700;
}

.wetherresultbox{
  margin: auto;
  height: 300px;
  width: 500px;
  box-shadow: 0 0 5px 5px;
}

.icon{
  height: 100px;
  width: 100px;
  margin-top: 5px;
}
.whethercity{
  font-size: 55px;
  color: rgb(146, 42, 152);
}